@import"../mixin/font";



.navbar-expand-lg .navbar-nav {

    .nav-item {
        padding-right: 28px;
        padding-left: 28px;


    }

    .nav-link {
        padding-right: .0;
        padding-left: .0;
    }

}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1111;

    .navbar-brand {
        padding-top: 40px;
    }

    .nav-link {
        @include font(18px, 500, #707070);
        text-transform: capitalize;
        transition: all linear .3s;
        -webkit-transition: all linear .3s;
        -moz-transition: all linear .3s;
        -ms-transition: all linear .3s;
        -o-transition: all linear .3s;
        position: relative;

        &::after {
            position: absolute;
            content: '';
            width: 0%;
            height: 2px;
            background-color: #FF9D00;
            bottom: -31px;
            left: 0;
            opacity: 0;
            transition: all linear .3s;
            -webkit-transition: all linear .3s;
            -moz-transition: all linear .3s;
            -ms-transition: all linear .3s;
            -o-transition: all linear .3s;
        }

        &:hover {
            color: #FF9D00;

            &::after {
                width: 100%;
                opacity: 1;
            }
        }
    }

}

.navbar-brand {
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.nav-bg.navbar .navbar-brand {
    line-height: 0px;
    padding: 0;

    img {
        height: 60px;
    }
}

.nav-bg {
    background-color: #fff;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .2);
}

.nav-item.active a {
    color: #FF9D00;
}
.nav-item.active .nav-link{
  
        &::after{
            width: 100%;
            opacity: 1;
        }
   
}
