@import"../mixin/font";
@import"../variable/fonts_color";

.sidebar {
    position: fixed;
    width: 25%;
    height: 100vh;
    background-color: whitesmoke;
    z-index: 9999;

    ol,
    ul {
        padding-left: 0;
    }

    .logo  {
        padding: 30px;
        a{
            text-align: center; 
            img{
                height: 60px;
            }
        }
    }
    

    .sidebar_nav {
        padding: 50px 0;
        ul{
            li{
                border-bottom: 2px solid bisque;
                &:hover{
                    background-image: linear-gradient(to right, #FFD019, #FF9C35);
                
                }
                
                
                a{
                    @include font (24px,500,$paragrap);
                    line-height:30px;
                    text-transform: capitalize;
                    &:hover{
                        color: $white;
                    }
                }
            }
            .nav-item.active {
               a{
                color: $white;
               }
                background-image: linear-gradient(to right, #FFD019, #FF9C35);
            }
        }
       
    }
    .social_icon{
        i{
            line-height: 40px;
            width: 40px;
            height: 40px;
            background-image: linear-gradient(to right, #FFD019, #FF9C35);
            border-radius:5px ;
            -webkit-border-radius:5px ;
            -moz-border-radius:5px ;
            -ms-border-radius:5px ;
            -o-border-radius:5px ;
            color: $white;
}
    }
    opacity: 0;
    left: -30%;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.menu-open{
    left: 0;
    opacity: 1;
}